# Python specific
__pycache__/
*.py[cod]
*.env
.venv/
venv/

# Virtual Environment
.env
*.env
venv/
.venv/

# IDE Specific
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Logs
*.log

# System Files
.DS_Store
Thumbs.db

# Dependencies
*.egg-info/

# Database
*.db

# Secrets
.env

# Node modules
node_modules/

# Build artifacts
front/build/
package-lock.json

# Docker
*.dockerignore
docker-compose.override.yml
# Svelte specific
front/public/build/